.container
  .row.row-cols-lg-4
    - @products.each do |product|
      .card.p-0.mb-3
        .card-img-top
          = link_to product_path(product) do
            = product_image_tag(product, :small)
        .card-body
          .card-title
            = product.name
          .card-text
            = number_to_currency(product.add_tax_price)
